# remove font files
webapp/data
webapp/font16_valence
webapp/styles/font_data
webapp/styles/font_styles
# remove trained model and word2vec
api/analysis/image/
api/analysis/word2vec/
api/analysis/stanford_glove.txt
api/analysis/stanford_w2v.txt
api/analysis/dat_model_json/*

nohup.out
.ipynb_checkpoints
__pycache__
firebase-debug.log
.firebase
functions/.eslintrc.json
.firebaserc