@font-face{
  font-family: 'happiness';
  src : url('./font_data/happiness.ttf');
}
@font-face{
  font-family: 'sadness';
  src : url('./font_data/sadness.ttf');
}
@font-face{
  font-family: 'anger';
  src : url('./font_data/anger.ttf');
}
@font-face{
  font-family: 'disgust';
  src : url('./font_data/disgust.ttf');
}
@font-face{
  font-family: 'fear';
  src : url('./font_data/fear.ttf') format('truetype'),
        url('./font_data/fear.woff') format('woff');
}
@font-face{
  font-family: 'surprise';
  src : url('./font_data/surprise.ttf');
}
