@font-face{
font-family : "1106.ttf";
src : url("./font100/1106.ttf");
}
@font-face{
font-family : "1301.ttf";
src : url("./font100/1301.ttf");
}
@font-face{
font-family : "1609.ttf";
src : url("./font100/1609.ttf");
}
@font-face{
font-family : "1688.ttf";
src : url("./font100/1688.ttf");
}
@font-face{
font-family : "1838.ttf";
src : url("./font100/1838.ttf");
}
@font-face{
font-family : "1944.ttf";
src : url("./font100/1944.ttf");
}
@font-face{
font-family : "1987.ttf";
src : url("./font100/1987.ttf");
}
@font-face{
font-family : "2113.ttf";
src : url("./font100/2113.ttf");
}
@font-face{
font-family : "2114.ttf";
src : url("./font100/2114.ttf");
}
@font-face{
font-family : "2202.ttf";
src : url("./font100/2202.ttf");
}
@font-face{
font-family : "2793.ttf";
src : url("./font100/2793.ttf");
}
@font-face{
font-family : "2849.ttf";
src : url("./font100/2849.ttf");
}
@font-face{
font-family : "3024.ttf";
src : url("./font100/3024.ttf");
}
@font-face{
font-family : "3677.ttf";
src : url("./font100/3677.ttf");
}
@font-face{
font-family : "3704.ttf";
src : url("./font100/3704.ttf");
}
@font-face{
font-family : "3728.ttf";
src : url("./font100/3728.ttf");
}
@font-face{
font-family : "make_css_classes.py";
src : url("./font100/make_css_classes.py");
}
@font-face{
font-family : "make_css_font-face.py";
src : url("./font100/make_css_font-face.py");
}
