
    .font-1004-ttf{
        font-family : '1004.ttf';
    }
    
    .font-1017-ttf{
        font-family : '1017.ttf';
    }
    
    .font-1031-ttf{
        font-family : '1031.ttf';
    }
    
    .font-1049-ttf{
        font-family : '1049.ttf';
    }
    
    .font-1061-ttf{
        font-family : '1061.ttf';
    }
    
    .font-1063-ttf{
        font-family : '1063.ttf';
    }
    
    .font-1084-ttf{
        font-family : '1084.ttf';
    }
    
    .font-1106-ttf{
        font-family : '1106.ttf';
    }
    
    .font-1150-ttf{
        font-family : '1150.ttf';
    }
    
    .font-1161-ttf{
        font-family : '1161.ttf';
    }
    
    .font-1173-ttf{
        font-family : '1173.ttf';
    }
    
    .font-1185-ttf{
        font-family : '1185.ttf';
    }
    
    .font-1208-ttf{
        font-family : '1208.ttf';
    }
    
    .font-1301-ttf{
        font-family : '1301.ttf';
    }
    
    .font-1310-ttf{
        font-family : '1310.ttf';
    }
    
    .font-1338-ttf{
        font-family : '1338.ttf';
    }
    
    .font-1352-ttf{
        font-family : '1352.ttf';
    }
    
    .font-1390-ttf{
        font-family : '1390.ttf';
    }
    
    .font-1461-ttf{
        font-family : '1461.ttf';
    }
    
    .font-1468-ttf{
        font-family : '1468.ttf';
    }
    
    .font-1472-ttf{
        font-family : '1472.ttf';
    }
    
    .font-1474-ttf{
        font-family : '1474.ttf';
    }
    
    .font-1476-ttf{
        font-family : '1476.ttf';
    }
    
    .font-1554-ttf{
        font-family : '1554.ttf';
    }
    
    .font-1580-ttf{
        font-family : '1580.ttf';
    }
    
    .font-1609-ttf{
        font-family : '1609.ttf';
    }
    
    .font-1649-ttf{
        font-family : '1649.ttf';
    }
    
    .font-1688-ttf{
        font-family : '1688.ttf';
    }
    
    .font-1723-ttf{
        font-family : '1723.ttf';
    }
    
    .font-1838-ttf{
        font-family : '1838.ttf';
    }
    
    .font-1841-ttf{
        font-family : '1841.ttf';
    }
    
    .font-1864-ttf{
        font-family : '1864.ttf';
    }
    
    .font-1944-ttf{
        font-family : '1944.ttf';
    }
    
    .font-1974-ttf{
        font-family : '1974.ttf';
    }
    
    .font-1987-ttf{
        font-family : '1987.ttf';
    }
    
    .font-2009-ttf{
        font-family : '2009.ttf';
    }
    
    .font-2047-ttf{
        font-family : '2047.ttf';
    }
    
    .font-2092-ttf{
        font-family : '2092.ttf';
    }
    
    .font-2113-ttf{
        font-family : '2113.ttf';
    }
    
    .font-2114-ttf{
        font-family : '2114.ttf';
    }
    
    .font-2160-ttf{
        font-family : '2160.ttf';
    }
    
    .font-2202-ttf{
        font-family : '2202.ttf';
    }
    
    .font-2290-ttf{
        font-family : '2290.ttf';
    }
    
    .font-2349-ttf{
        font-family : '2349.ttf';
    }
    
    .font-2381-ttf{
        font-family : '2381.ttf';
    }
    
    .font-2382-ttf{
        font-family : '2382.ttf';
    }
    
    .font-2399-ttf{
        font-family : '2399.ttf';
    }
    
    .font-2448-ttf{
        font-family : '2448.ttf';
    }
    
    .font-2460-ttf{
        font-family : '2460.ttf';
    }
    
    .font-2473-ttf{
        font-family : '2473.ttf';
    }
    
    .font-2494-ttf{
        font-family : '2494.ttf';
    }
    
    .font-2531-ttf{
        font-family : '2531.ttf';
    }
    
    .font-2543-ttf{
        font-family : '2543.ttf';
    }
    
    .font-2793-ttf{
        font-family : '2793.ttf';
    }
    
    .font-2839-ttf{
        font-family : '2839.ttf';
    }
    
    .font-2849-ttf{
        font-family : '2849.ttf';
    }
    
    .font-2958-ttf{
        font-family : '2958.ttf';
    }
    
    .font-3013-ttf{
        font-family : '3013.ttf';
    }
    
    .font-3024-ttf{
        font-family : '3024.ttf';
    }
    
    .font-3029-ttf{
        font-family : '3029.ttf';
    }
    
    .font-3048-ttf{
        font-family : '3048.ttf';
    }
    
    .font-3102-ttf{
        font-family : '3102.ttf';
    }
    
    .font-3209-ttf{
        font-family : '3209.ttf';
    }
    
    .font-3237-ttf{
        font-family : '3237.ttf';
    }
    
    .font-3292-ttf{
        font-family : '3292.ttf';
    }
    
    .font-3314-ttf{
        font-family : '3314.ttf';
    }
    
    .font-3339-ttf{
        font-family : '3339.ttf';
    }
    
    .font-3340-ttf{
        font-family : '3340.ttf';
    }
    
    .font-3376-ttf{
        font-family : '3376.ttf';
    }
    
    .font-3382-ttf{
        font-family : '3382.ttf';
    }
    
    .font-3405-ttf{
        font-family : '3405.ttf';
    }
    
    .font-3540-ttf{
        font-family : '3540.ttf';
    }
    
    .font-3567-ttf{
        font-family : '3567.ttf';
    }
    
    .font-3575-ttf{
        font-family : '3575.ttf';
    }
    
    .font-3587-ttf{
        font-family : '3587.ttf';
    }
    
    .font-3677-ttf{
        font-family : '3677.ttf';
    }
    
    .font-3678-ttf{
        font-family : '3678.ttf';
    }
    
    .font-3704-ttf{
        font-family : '3704.ttf';
    }
    
    .font-3728-ttf{
        font-family : '3728.ttf';
    }
    
    .font-3857-ttf{
        font-family : '3857.ttf';
    }
    
    .font-3951-ttf{
        font-family : '3951.ttf';
    }
    
    .font-3961-ttf{
        font-family : '3961.ttf';
    }
    
    .font-3973-ttf{
        font-family : '3973.ttf';
    }
    
    .font-3988-ttf{
        font-family : '3988.ttf';
    }
    
    .font-4144-ttf{
        font-family : '4144.ttf';
    }
    
    .font-4294-ttf{
        font-family : '4294.ttf';
    }
    
    .font-4307-ttf{
        font-family : '4307.ttf';
    }
    
    .font-4310-ttf{
        font-family : '4310.ttf';
    }
    
    .font-4353-ttf{
        font-family : '4353.ttf';
    }
    
    .font-4420-otf{
        font-family : '4420.otf';
    }
    
    .font-4447-otf{
        font-family : '4447.otf';
    }
    
    .font-900-ttf{
        font-family : '900.ttf';
    }
    
    .font-922-ttf{
        font-family : '922.ttf';
    }
    
    .font-936-ttf{
        font-family : '936.ttf';
    }
    
    .font-966-ttf{
        font-family : '966.ttf';
    }
    
    .font-967-ttf{
        font-family : '967.ttf';
    }
    
    .font-968-ttf{
        font-family : '968.ttf';
    }
    
    .font-971-ttf{
        font-family : '971.ttf';
    }
    
    .font-977-ttf{
        font-family : '977.ttf';
    }
    
    .font-998-ttf{
        font-family : '998.ttf';
    }
    
    .font-firebase-debug-log{
        font-family : 'firebase-debug.log';
    }
    
    .font-font100-effect-css{
        font-family : 'font100-effect.css';
    }
    
    .font-make_css_classes-py{
        font-family : 'make_css_classes.py';
    }
    
    .font-make_css_font-face-py{
        font-family : 'make_css_font-face.py';
    }
    