
    .font-1106-ttf{
        font-family : '1106.ttf';
    }
    
    .font-1301-ttf{
        font-family : '1301.ttf';
    }
    
    .font-1609-ttf{
        font-family : '1609.ttf';
    }
    
    .font-1688-ttf{
        font-family : '1688.ttf';
    }
    
    .font-1838-ttf{
        font-family : '1838.ttf';
    }
    
    .font-1944-ttf{
        font-family : '1944.ttf';
    }
    
    .font-1987-ttf{
        font-family : '1987.ttf';
    }
    
    .font-2113-ttf{
        font-family : '2113.ttf';
    }
    
    .font-2114-ttf{
        font-family : '2114.ttf';
    }
    
    .font-2202-ttf{
        font-family : '2202.ttf';
    }
    
    .font-2793-ttf{
        font-family : '2793.ttf';
    }
    
    .font-2849-ttf{
        font-family : '2849.ttf';
    }
    
    .font-3024-ttf{
        font-family : '3024.ttf';
    }
    
    .font-3677-ttf{
        font-family : '3677.ttf';
    }
    
    .font-3704-ttf{
        font-family : '3704.ttf';
    }
    
    .font-3728-ttf{
        font-family : '3728.ttf';
    }
    